:root {
  --uc-nav-width: 50vw;
}

#TabsToolbar {
  margin-left: var(--uc-nav-width) !important;
}

#nav-bar {
  margin-top: calc(-1 * (var(--tab-min-height) + 2 * var(--tab-block-margin, 0px))) !important;
  width: var(--uc-nav-width) !important;
  background: transparent !important;
  box-shadow: none !important;
  position: relative !important;
  z-index: 2 !important;
}

.titlebar-spacer {
  display: none !important;
}
